<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ceres Docs</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
  <link rel="shortcut icon" href="../images/favicon.ico" />
  <link rel="stylesheet" href="../lib/styles.css" />
  <link rel="stylesheet" href="../index.css" />
</head>

<body>
  <header class="header">
    <div class="container">
      <button id="hamburger-btn" class="btn hamburger"><i class="fa fa-bars"></i></button>
      <img class="logo img" src="../images/logo.png" alt="placeholder" />
      <nav class="nav nav-hide">
        <ul class="nav__list nav__list--primary">
          <li class='nav__item'><a class="nav__link" href="../landing.html">Home</a></li>
          <li class='nav__item'><a class="nav__link nav__link--active" href="#">Docs</a></li>
          <li class='nav__item'><a class="nav__link" href="#">Github</a></li>
        </ul>
      </nav>
  </header>
  <div class="container flex">
    <main>
      <h1>Button</h1>
      <h2>Sizes</h2>
      <p>Buttons can be small, regular or large.</p>
      <div class="m-1">
        <button class="btn bg-primary btn-lg">Primary</button>
        <button class="btn bg-primary ml-1">Primary</button>
        <button class="btn bg-primary btn-sm ml-1">Primary</button>
      </div>
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520bg-primary%2520btn-lg%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-primary%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-primary%2520btn-sm%2522%253EPrimary%253C%252Fbutton%253E"
        style="width: 512px; height: 134px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
      <h2>Types</h2>
      <p>Buttons can be of type success, warning, error and secondary</p>
      <button class="btn bg-green-600 mt-1 ml-1">Success</button>
      <button class="btn bg-yellow-600 ml-1">Warning</button>
      <button class="btn bg-red-600 ml-1 mb-1">Error</button>
      <button class="btn bg-secondary ml-1 mb-1">Secondary</button>
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520bg-green-600%2522%253ESuccess%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-yellow-600%2522%253EWarning%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-red-600%2522%253EError%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-secondary%2522%253ESecondary%253C%252Fbutton%253E"
        style="width: 472px; height: 152px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>

      <h2>Rounded Buttons</h2>
      <button class="btn bg-primary btn--round m-1">Primary</button>
      <button class="btn bg-secondary btn--round m-1">Secondary</button>
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520bg-primary%2520btn--round%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-secondary%2520btn--round%2522%253ESecondary%253C%252Fbutton%253E"
        style="width: 578px; height: 115px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
      <h2>Buttons with Icons</h2>
      <div>
        <button class="btn bg-primary btn--round m-1">
          Call us
          <i class="fas fa-phone ml-sm"></i>
        </button>
        <button class="btn bg-secondary btn--round m-1">
          Email
          <i class="fa fa-envelope ml-sm"></i>
        </button>
      </div>
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520bg-primary%2520btn--round%2522%253E%250A%2520%2520Email%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-phone%2520ml-sm%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-secondary%2520btn--round%2522%253E%250A%2520%2520Call%2520us%250A%2520%2520%253Ci%2520class%253D%2522fa%2520fa-envelope%2520ml-sm%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
        style="width: 413px; height: 227px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
      <h2>Icon Buttons</h2>
      <div>
        <button class="btn btn--icon bg-primary m-1">
          <i class="fas fa-home"></i>
        </button>
        <button class="btn btn--icon icon--transparent m-1">
          <i class="fas fa-home"></i>
        </button>
      </div>
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn--icon%2520bg-primary%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-home%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn--icon%2520icon--transparent%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-home%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
        style="width: 447px; height: 190px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>

      <h3>Icon Buttons with badge</h3>
      <div>
        <button class="btn btn--icon icon--transparent m-l">
          <span class="badge--tiny icon__badge--bottom bg-green-600"></span>
          <i class="fas fa-home"></i>
        </button>
        <button class="btn btn--icon icon--transparent m-l">
          <span class="badge--smaller icon__badge--top bg-red-600">13</span>
          <i class="fa fa-shopping-cart"></i>
        </button>
      </div>
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn--icon%2520icon--transparent%2522%253E%250A%2520%2520%253Cspan%2520class%253D%2522badge--tiny%2520icon__badge--bottom%2520bg-green-600%2522%253E%250A%2520%2520%253C%252Fspan%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-home%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn--icon%2520icon--transparent%2522%253E%250A%2520%2520%253Cspan%2520class%253D%2522badge--smaller%2520icon__badge--top%2520bg-red-600%2522%253E%250A%2520%2520%2520%252013%250A%2520%2520%253C%252Fspan%253E%250A%2520%2520%253Ci%2520class%253D%2522fa%2520fa-shopping-cart%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
        style="width: 583px; height: 283px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </main>
    <aside>
      <ul class="list">
        <li class="flex mt-1"><a href="../index.html" class="aside__link">Getting Started</a></li>
        <li class="flex"><a href="Introduction.html" class="aside__link">Introduction</a></li>
        <li class="flex"><a href="Avatar.html" class="aside__link">Avatar</a></li>
        <li class="flex"><a href="Alert.html" class="aside__link">Alert</a></li>
        <li class="flex"><a href="Badge.html" class="aside__link">Badge</a></li>
        <li class="flex"><a href="#" class="aside__link  aside__link--active">Button</a></li>
        <li class="flex"><a href="Card.html" class="aside__link">Card</a></li>
        <li class="flex"><a href="Image.html" class="aside__link">Image</a></li>
        <li class="flex"><a href="Input.html" class="aside__link">Input</a></li>
        <li class="flex"><a href="List.html" class="aside__link">List</a></li>
        <li class="flex"><a href="Modal.html" class="aside__link">Modal</a></li>
        <li class="flex"><a href="Navigation.html" class="aside__link">Navigation</a></li>
        <li class="flex"><a href="Rating.html" class="aside__link">Rating</a></li>
        <li class="flex"><a href="SearchBar.html" class="aside__link">Search Bar</a></li>
        <li class="flex"><a href="TextStyles.html" class="aside__link">Text Styles</a></li>
      </ul>
    </aside>
  </div>
  <script type="text/javascript" src="../lib/index.js">
  </script>
</body>

</html>