<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ceres Docs</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
  <link rel="shortcut icon" href="../images/favicon.ico" />
  <link rel="stylesheet" href="../lib/styles.css" />
  <link rel="stylesheet" href="../index.css" />
</head>

<body>
  <header class="header">
    <div class="container">
      <button id="hamburger-btn" class="btn hamburger"><i class="fa fa-bars"></i></button>
      <img class="logo img" src="../images/logo.png" alt="placeholder" />
      <nav class="nav nav-hide">
        <ul class="nav__list nav__list--primary">
          <li class='nav__item'><a class="nav__link" href="../index.html">Home</a></li>
          <li class='nav__item'><a class="nav__link nav__link--active" href="../docs">Docs</a></li>
          <li class='nav__item'><a class="nav__link" href="https://github.com/purvasheth/Ceres-Component-Lib">Github</a>
          </li>
        </ul>
      </nav>
  </header>
  <div class="container flex">
    <main>
      <h1>Image</h1>
      <p>Image is responsive. It can be given a round shape.
        It can be scaled or given a shadow on hover </p>
      <div class="grid-2">
        <img class="img img--scale" alt="baking pans"
          src="https://m.media-amazon.com/images/I/41c6G4Yvr1L._AC_UL320_.jpg" />
        <img class="img img--shadow img--round" alt="silicon brushes"
          src="https://m.media-amazon.com/images/I/51pUbksTn0L._AC_UL320_.jpg" />
      </div>
      <img class="img img--scale" alt="baking cups"
        src="https://m.media-amazon.com/images/I/71kRlcrwKDL._AC_UL320_.jpg" />
      <iframe class="mt-2"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img%2520img--scale%2522%2520alt%253D%2522baking%2520pans%2522%250Asrc%253D%2522https%253A%252F%252Fm.media-amazon.com%252Fimages%252FI%252F41c6G4Yvr1L._AC_UL320_.jpg%2522%2520%250A%252F%253E%250A%253Cimg%2520class%253D%2522img%2520img--shadow%2520img--round%2522%2520alt%253D%2522silicon%2520brushes%2522%250Asrc%253D%2522https%253A%252F%252Fm.media-amazon.com%252Fimages%252FI%252F51pUbksTn0L._AC_UL320_.jpg%2522%2520%250A%252F%253E%250A%253Cimg%2520class%253D%2522img%2520img--scale%2522%2520alt%253D%2522baking%2520cups%2522%250Asrc%253D%2522https%253A%252F%252Fm.media-amazon.com%252Fimages%252FI%252F71kRlcrwKDL._AC_UL320_.jpg%2522%2520%250A%252F%253E"
        style="width: 624px; height: 246px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </main>
    <aside>
      <ul class="list">
        <li class="flex mt-1"><a href="../docs.html" class="aside__link">Getting Started</a></li>
        <li class="flex"><a href="Introduction.html" class="aside__link">Introduction</a></li>
        <li class="flex"><a href="Avatar.html" class="aside__link">Avatar</a></li>
        <li class="flex"><a href="Alert.html" class="aside__link">Alert</a></li>
        <li class="flex"><a href="Badge.html" class="aside__link">Badge</a></li>
        <li class="flex"><a href="Button.html" class="aside__link">Button</a></li>
        <li class="flex"><a href="Card.html" class="aside__link">Card</a></li>
        <li class="flex"><a href="#" class="aside__link aside__link--active">Image</a></li>
        <li class="flex"><a href="Input.html" class="aside__link">Input</a></li>
        <li class="flex"><a href="List.html" class="aside__link">List</a></li>
        <li class="flex"><a href="Modal.html" class="aside__link">Modal</a></li>
        <li class="flex"><a href="Navigation.html" class="aside__link">Navigation</a></li>
        <li class="flex"><a href="Rating.html" class="aside__link">Rating</a></li>
        <li class="flex"><a href="SearchBar.html" class="aside__link">Search Bar</a></li>
        <li class="flex"><a href="TextStyles.html" class="aside__link">Text Styles</a></li>
      </ul>
    </aside>
  </div>
  <script type="text/javascript" src="../lib/index.js">
  </script>
</body>

</html>