<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ceres Docs</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
  <link rel="shortcut icon" href="../images/favicon.ico" />
  <link rel="stylesheet" href="../lib/styles.css" />
  <link rel="stylesheet" href="../index.css" />
</head>

<body>
  <header class="header">
    <div class="container">
      <button id="hamburger-btn" class="btn hamburger"><i class="fa fa-bars"></i></button>
      <img class="logo img" src="../images/logo.png" alt="placeholder" />
      <nav class="nav nav-hide">
        <ul class="nav__list nav__list--primary">
          <li class='nav__item'><a class="nav__link" href="../index.html">Home</a></li>
          <li class='nav__item'><a class="nav__link nav__link--active" href="../docs">Docs</a></li>
          <li class='nav__item'><a class="nav__link" href="https://github.com/purvasheth/Ceres-Component-Lib">Github</a>
          </li>
        </ul>
      </nav>
  </header>
  <div class="container flex">
    <main>
      <h1>Introduction</h1>
      <p> Its important to understand how layouts can be managed easily using this library. There are a few predefined
        helper classes for layouts, margin and paddings.</p>
      <h2>Layouts</h2>
      <iframe class="mt-1 mb-2"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--%2520flex%2520with%2520horizontal%2520main%2520axis%2520--%253E%250A%253Cdiv%2520class%253D%2522flex%2522%253E%253C%252Fdiv%253E%250A%253C%21--%2520flex%2520with%2520vertical%2520main%2520axis%2520--%253E%250A%253Cdiv%2520class%253D%2522flex%2520flex-col%2522%253E%253C%252Fdiv%253E%250A%253C%21--%25202%2520column%2520grid%2520--%253E%250A%253Cdiv%2520class%253D%2522grid-2%2522%253E%253C%252Fdiv%253E%250A%253C%21--%25203%2520column%2520grid%2520--%253E%250A%253Cdiv%2520class%253D%2522grid-3%2522%253E%253C%252Fdiv%253E"
        style="width: 371px; height: 227px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
      <h2>Padding Classes</h2>
      <ul>
        <li class="m-1"><span class="bg-secondary p-sm">p-1</span> --> 1em padding</li>
        <li class="m-1"><span class="bg-secondary p-sm">p-2</span> --> 2em padding</li>
        <li class="m-1"><span class="bg-secondary p-sm">p-3</span>--> 3em padding</li>
        <li class="m-1"><span class="bg-secondary p-sm">pt-1</span> --> 1em padding top</li>
        <li class="m-1"><span class="bg-secondary p-sm">pb-1</span> --> 1em padding bottom</li>
        <li class="m-1"><span class="bg-secondary p-sm">pl-1</span> --> 1em padding left</li>
        <li class="m-1"><span class="bg-secondary p-sm">pr-1</span>--> 1em padding right</li>
      </ul>

      <h2>Margin Classes</h2>
      <ul>
        <li class="m-1"><span class="bg-secondary p-sm">m-1</span> --> 1rem margin</li>
        <li class="m-1"><span class="bg-secondary p-sm">m-2</span> --> 2rem margin</li>
        <li class="m-1"><span class="bg-secondary p-sm">m-3</span> --> 3rem margin</li>
        <li class="m-1"><span class="bg-secondary p-sm">mt-1</span> --> 1rem margin top</li>
        <li class="m-1"><span class="bg-secondary p-sm">mb-1</span> --> 1rem margin bottom</li>
        <li class="m-1"><span class="bg-secondary p-sm">ml-1</span> --> 1rem margin left</li>
        <li class="m-1"><span class="bg-secondary p-sm">mr-1</span> --> 1rem margin right</li>
        <li class="m-1"><span class="bg-secondary p-sm">mt-2</span> --> 2rem margin top</li>
        <li class="m-1"><span class="bg-secondary p-sm">mb-2</span> --> 2rem margin bottom</li>
        <li class="m-1"><span class="bg-secondary p-sm">ml-2</span> --> 2rem margin left</li>
        <li class="m-1"><span class="bg-secondary p-sm">mr-2</span> --> 2rem margin right</li>
      </ul>
    </main>
    <aside>
      <ul class="list">
        <li class="flex mt-1"><a href="../docs.html" class="aside__link">Getting Started</a></li>
        <li class="flex"><a href="#" class="aside__link aside__link--active">Introduction</a></li>
        <li class="flex"><a href="Avatar.html" class="aside__link">Avatar</a></li>
        <li class="flex"><a href="Alert.html" class="aside__link">Alert</a></li>
        <li class="flex"><a href="Badge.html" class="aside__link">Badge</a></li>
        <li class="flex"><a href="Button.html" class="aside__link">Button</a></li>
        <li class="flex"><a href="Card.html" class="aside__link">Card</a></li>
        <li class="flex"><a href="Image.html" class="aside__link">Image</a></li>
        <li class="flex"><a href="Input.html" class="aside__link">Input</a></li>
        <li class="flex"><a href="List.html" class="aside__link">List</a></li>
        <li class="flex"><a href="Modal.html" class="aside__link">Modal</a></li>
        <li class="flex"><a href="Navigation.html" class="aside__link">Navigation</a></li>
        <li class="flex"><a href="Rating.html" class="aside__link">Rating</a></li>
        <li class="flex"><a href="SearchBar.html" class="aside__link">Search Bar</a></li>
        <li class="flex"><a href="TextStyles.html" class="aside__link">Text Styles</a></li>
      </ul>
    </aside>
  </div>
  <script type="text/javascript" src="../lib/index.js">
  </script>
</body>

</html>