<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ceres Docs</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
  <link rel="shortcut icon" href="../images/favicon.ico" />
  <link rel="stylesheet" href="../lib/styles.css" />
  <link rel="stylesheet" href="../index.css" />
</head>

<body>
  <header class="header">
    <div class="container">
      <button id="hamburger-btn" class="btn hamburger"><i class="fa fa-bars"></i></button>
      <img class="logo img" src="../images/logo.png" alt="placeholder" />
      <nav class="nav nav-hide">
        <ul class="nav__list nav__list--primary">
          <li class='nav__item'><a class="nav__link" href="../index.html">Home</a></li>
          <li class='nav__item'><a class="nav__link nav__link--active" href="../docs">Docs</a></li>
          <li class='nav__item'><a class="nav__link" href="https://github.com/purvasheth/Ceres-Component-Lib">Github</a>
        </ul>
      </nav>
  </header>
  <div class="container flex">
    <main style="flex-grow:3">
      <h1>Text Styles</h1>
      <h1 class="font--center">Center Heading</h1>
      <iframe class="mt-1"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch1%2520class%253D%2522font--center%2522%253ECenter%2520Heading%253C%252Fh1%253E"
        style="width: 413px; height: 97px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>


      <h2 class="font--grey-500"> Heading with
        <span class="font--primary"> hightlighted text</span>
      </h2>

      <iframe class="mt-1"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch2%2520class%253D%2522font--grey-500%2522%253E%2520Heading%2520with%2520%250A%2520%2520%253Cspan%2520class%253D%2522font--primary%2522%253E%2520%250A%2520%2520%2520%2520hightlighted%2520text%250A%2520%2520%253C%252Fspan%253E%250A%253C%252Fh2%253E"
        style="width: 388px; height: 171px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>

      <h2>Colored Fonts</h2>
      <p class="font--success"> Regular success text </p>
      <p class="font--warning"> Regular warning text </p>
      <p class="font--error"> Regular error text </p>

      <iframe class="mt-1"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522font--success%2522%253E%2520Regular%2520success%2520text%2520%253C%252Fp%253E%250A%253Cp%2520class%253D%2522font--warning%2522%253E%2520Regular%2520warning%2520text%2520%253C%252Fp%253E%250A%253Cp%2520class%253D%2522font--error%2522%253E%2520Regular%2520error%2520text%2520%253C%252Fp%253E"
        style="width: 472px; height: 134px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>


    </main>
    <aside style="flex-grow:1">
      <ul class="list">
        <li class="flex mt-1"><a href="../docs.html" class="aside__link">Getting Started</a></li>
        <li class="flex"><a href="Introduction.html" class="aside__link">Introduction</a></li>
        <li class="flex"><a href="Avatar.html" class="aside__link">Avatar</a></li>
        <li class="flex"><a href="Alert.html" class="aside__link">Alert</a></li>
        <li class="flex"><a href="Badge.html" class="aside__link">Badge</a></li>
        <li class="flex"><a href="Button.html" class="aside__link">Button</a></li>
        <li class="flex"><a href="Card.html" class="aside__link">Card</a></li>
        <li class="flex"><a href="Image.html" class="aside__link">Image</a></li>
        <li class="flex"><a href="Input.html" class="aside__link">Input</a></li>
        <li class="flex"><a href="List.html" class="aside__link">List</a></li>
        <li class="flex"><a href="Modal" class="aside__link">Modal</a></li>
        <li class="flex"><a href="Navigation.html" class="aside__link">Navigation</a></li>
        <li class="flex"><a href="Rating.html" class="aside__link">Rating</a></li>
        <li class="flex"><a href="SearchBar.html" class="aside__link">Search Bar</a></li>
        <li class="flex"><a href="#" class="aside__link  aside__link--active">Text Styles</a></li>
      </ul>
    </aside>
  </div>
  <script type="text/javascript" src="../lib/index.js">
  </script>
</body>

</html>